@import "./reset";
@import "./variables";
@import "./single-product.scss";
@import "./woocommerce";

.sidemenu {
  // display: none;
  background-color: $panna;
  position: fixed;
  top: 0;
  right: -120vw;
  height: 100vh;
  width: 84%;
  z-index: 102;
  max-width: 630px;
  @include flexCenter(column, flex-start);
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  transition: right 0.4s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, right cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  box-shadow: -4px 0px 32px -1px rgba(0, 0, 0, 0.25);
  &__header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    padding: 2rem 0 1rem 0;
    height: 39%;
    &__close-logo {
      grid-column: 1/2;
      grid-row: 1/2;
      z-index: 6;
      justify-self: center;
      img {
        height: 4.8vw;
        max-height: 20px;
        margin-top: 1rem;
      }
    }
    &__logo {
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      & > img {
        width: 32vw;
        max-width: 8rem;
      }
    }
    &__search-bar {
      grid-column: 1/3;
      grid-row: 2/3;
      width: fit-content;
      align-self: center;
      justify-self: center;
      display: grid;
      height: 5vh;
      max-height: 150px;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 1fr;
      & > input {
        background-color: $light-panna;
        grid-column: 1/3;
        grid-row: 1/2;
        height: 100%;
        max-height: 42px;
        border-radius: 3px;
        border: 1px solid #cccccc;
        padding-left: 10px;
        transition: 0.3s;
        font-size: 14px;
        width: 59vw;
        max-width: 274px;
        align-self: center;
      }
      & > a {
        grid-column: 2/3;
        z-index: 5;
        grid-row: 1/2;
        align-self: center;
        display: flex;
        justify-content: center;
      }
    }
  }
  &__body {
    height: 10vh;
    & > ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 47vh;
      font-size: 1.25rem;
      font-family: $header-font;
      font-weight: weight(medium);
      width: 53vw;
      max-width: 217px;
      li {
        border-bottom: $border-bottom;
        padding-bottom: 2px;
      }
    }
  }
}

.topbar {
  position: fixed;
  background-color: #ffffff;
  z-index: 101;
  width: 100%;
  height: 4.94vh;
  max-height: 8rem;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.3rem 1.7rem;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.11));
  &__logo {
    img {
      width: 4rem;
    }
  }
  &__search {
    img {
      width: 1.2rem;
    }
  }
  &__menu {
    img {
      width: 1.5rem;
    }
  }
}

.banner {
  height: fit-content;
  max-height: 70vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 70vh;
  // @include flexCenter(column, space-evenly);
  height: 500px;
  img {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: 1;
    filter: brightness(55%);
  }
  h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 3;
    align-self: flex-end;
    color: $primary-color;
    width: 100%;
    margin-bottom: -2rem;
  }
  &__button {
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 3;
    @include flexCenter(row, center);
    padding-top: 2.8rem;
  }
}

.shop-info {
  background-color: $panna;
  padding: 3rem 2rem;
  @include flexCenter(column, space-around);
  &__title {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }
  & > p {
    margin: 2rem 0;
    line-height: 1.4;
  }
  &__details {
    margin: 2rem 0 0 0;
    width: 100%;
    @include flexCenter(column, space-between);
    font-size: 0.9rem;
    & > a {
      @include flexCenter(row, center);
      margin-bottom: 1rem;
      & > img {
        padding-right: 0.5rem;
        max-width: 32px;
      }
    }
  }
}

.shop-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  h2 {
    padding: 15px 0 10px 0;
    text-align: center;
    width: 100%;
  }
  &__product {
    padding: 0.55rem;
    width: 50%;
    @include flexCenter(column, flex-start);
    img {
      width: 100%;
    }
    &__header {
      font-weight: weight(bold);
      font-size: 0.85rem;
    }
    &__price {
      justify-self: center;
      align-self: center;
      font-size: 0.9rem;
      padding: 6px 0;
    }
    &__add-to-cart {
      width: max-content;
      font-size: 0.7rem;
    }
  }
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-fit: cover;
  grid-gap: 1rem;
  padding: 2rem 1rem;
  &__single {
    display: grid;
    a {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      img {
        width: 100%;
        @include opacity;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      p {
        align-self: center;
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 5;
        color: $primary-color;
        font-size: 1.3rem;
      }
    }
  }
}

.simple-banner {
  height: 500px;
  background-image: url(https://images.unsplash.com/photo-1475179593777-bd12fd56b85d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;

  @include opacity;
  a {
    height: 300px;
    width: 100%;
    h2 {
      position: relative;
    }
  }
}

.our-brands {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  object-fit: cover;
  background-color: $light-panna;
  padding: 2rem 1rem;
  img {
    @include centered-child;
    width: 60px;
    height: auto;
  }
}

// SINGLE PRODUCT PAGE
.style-single-product {
  & > img {
    width: 80%;
    align-self: center;
  }
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  &__description {
    height: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0 67px 0;
    &__payment {
      margin: 20px 0;
      width: 100%;
      display: flex;
      align-items: center;
      img {
        width: 1.5rem;
        margin: 0 auto;
      }
    }
    button {
      margin: 2rem 0;
    }
    &__main {
      padding: 2rem 0;
      h4 {
        margin-bottom: 1rem;
      }
    }
  }
}

.art-related {
  overflow-y: hidden;
  overflow-x: scroll;
  &__scroll-list {
    display: -webkit-inline-box;
    width: 200px;
    width: fit-content;
    &__single {
      img {
        max-width: none;
      }
      // width: 2.3vw;
    }
  }
}

// SHOPPING PAGE
.filter-categories {
  background-color: $panna;
  padding-top: 5rem;
  padding-left: 2rem;
  overflow: scroll;
  padding-bottom: 12px;
  ul li {
    a {
      margin: 10px 0;
      padding: 0px 10px;
      font-family: $header-font;
      border-right: 1px solid black;
    }
  }
}

.category-header {
  margin-top: 10px;
  h2 {
    margin: 12px 0 -5px 0;
    font-size: 2rem;
    font-weight: weight(regular);
  }
}

.breadcrumb {
  font-size: 0.8rem;
  padding: 10px 16px;
  li a {
    color: $violet;
    &:hover {
      color: $orange;
    }
  }
  li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
}

footer {
  height: auto;
  .top-part {
    height: fit-content;
    background-color: $panna;
    display: grid;
    grid-template-columns: 1fr 3.8fr 1fr;
    grid-template-rows: 4fr 1fr;
    padding: 10px 0 16px 0;
    &__menu {
      grid-column: 2/3;
      grid-row: 1/2;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-family: $header-font;
      font-size: 1.12rem;
      padding-top: 20px;
      &__accordion {
        &__header {
          cursor: pointer;
          border-bottom: $border-bottom;
          padding: 15px 0 5px 0;
          display: flex;
          justify-content: space-between;
          img {
            width: 12px;
            margin-right: 6px;
            transition: transform 0.3s ease-in-out;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        &__inside {
          display: flex;
          text-transform: initial;
          color: $light-dark;
          font-weight: weight(light);
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          &__content {
            flex-direction: column;
            padding: 10px 10px 28px 10px;
          }
        }
      }
    }

    &__social {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
      justify-content: space-evenly;
      p {
        font-size: 1rem;
        display: flex;
        b {
          @include centered-child;
          font-weight: weight(regular);
          font-size: 0.88rem;
          font-family: $header-font;
        }
      }
      img {
        width: 1rem;
      }
    }
  }
  .bottom-part {
    font-size: 0.68rem;
    padding: 14px 34px;
    background-color: $dark;
    display: flex;
    flex-wrap: wrap;

    p + p:before {
      padding: 0 5px;
      content: "\007C";
    }
  }
}

.menu__active {
  transition: right 0.6s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, right cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  right: 0;
}

.btn {
  @include button;
  &__dark {
    @include button;
    background-color: black;
    color: $primary-color;
  }
}

// SWIPER CONTAINER
.swiper-container {
  width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container-horizontal > .swiper-scrollbar {
  display: none;
}
.swiper-pagination-bullet-active {
  background: black;
}
@import "./media700";
